.container{
    display: flex;
    justify-content: center;
}

.board{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 20vh;
}

.board1{
    border: 1px solid black;
}

button{
    height: 10em;
    width: 10em;
}
